/* 
Este archivo es donde se pueden agregar estilos personalizados para el sitio web del despacho de abogados. 
*/ 

:root {
    --abogados-azul: #00416b;
    --abogados-gris: #8a8a8a;
    --abogados-amarillo: #edcc1cff;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.margin-top-80{
    margin-top: 80px;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

.logo-navbar{
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

.navbar-custom{
    background-color: var(--abogados-azul) !important;
}

.navbar-title{
    color: var(--abogados-amarillo);
    text-decoration: none;
}
.navbar-title > p{
    margin: -7px 0;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 80px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    color: var(--abogados-azul);
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
    margin-top: 30px;
}

.social-icon:hover {
    background-color: var(--abogados-amarillo);
    color: white;
}

footer {
    background-color: var(--abogados-azul);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.navbar-container{
    background-color: var(--abogados-gris) !important;
    color: white;
    padding: 12px 0px !important;
}

.carousel-margin{
    margin-top: 124px;
}

.carousel-container{
    height: calc(100vh - 124px);
}
.carousel-item{
    height: 100%;
    background-size: cover;
    background-position: center;
}
.frame-container{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    padding: 40px 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imagen-afiliados{
    width: 500px;
    height: auto;
}
.frame-container > h1{
    color: white;
    font-size: 3em;
    margin-bottom: -20px;
}
.services-container{
    width: 100%;
    height: 40vh;
    padding: 0 !important;
    background-size: cover;
    background-position: center;
}
.services-transparent{
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    padding: 50px 100px;
}
.text-services > h1{
    color: black;
    margin: 0px 0;
}
.baner-services{
    background-color: var(--abogados-azul);
    color: white;
    height: auto;
}
.icon-circle {  
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    font-size: 1.5em; 
    background-color: white;
    color: black;
    margin: 15px auto 5px;
}
.video-container{
    min-height: 40vh;
    max-height: 45vh;
}
.video-container > iframe{
    width: 100%;
    min-height: 40vh;
    max-height: 45vh;
}
.text-end{
    margin-right: 80px;
}
.container-text-video-left{
    border: 2px solid gray;
    padding: 5px;
    margin-bottom: 20px;
    min-height: 40vh;
    max-height: 45vh;
}
.banner{
    height: 30vh;
    width: calc(100% - 40px);
    margin: 10px 20px;
}
.contact-container-banner{
    background-color: var(--abogados-azul);
    color: white;
    height: 200px;
    margin: 20px 0;
}
.contact-container-banner h1{
    margin: 0;
}

.photo-container-single{
    border: 1px solid var(--abogados-gris);
    width: 250px;
    height: 300px;
    margin: 50px auto 0;
}

.title-photo-container{
    background-color: var(--abogados-gris);
    width: 230px;
    height: 60px;
    margin: -30px auto 0;
    color: white;
}

.container-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-photo-container h1{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .col-hidden-sm {
        display: none;
    }
}