<header class="header-custom">
    <nav class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../img/logo_icace.png" alt="Logo ICACE Abogados" class="logo-navbar">
            </a>
            <a class="navbar-title weight-600" href="#">
                <p>ICACE</p>
                <p>DESPACHO DE ABOGADOS</p>
            </a>
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://wa.me/1234567890" target="_blank" class="social-icon">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://www.tiktok.com" target="_blank" class="social-icon">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank" class="social-icon">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid">
        <ul class="">
            <li class="">
                <a class="" aria-current="" href="#">INICIO</a>
            </li>
            <li class="">
                <a class="" href="#">SERVICIOS JURÍDICOS</a>
            </li>
            <li class="">
                <a class="" href="#">VALORES</a>
            </li>
            <li class="">
                <a class="nav-link" href="#">CONTACTO</a>
            </li>
        </ul>
    </div>
</header>