<div id="carouselExample" class="carousel slide carousel-margin" data-bs-ride="false">
  <div class="carousel-inner carousel-container">
    <div class="carousel-item active" style="background-image: url(../img/Imagen_inicial.jpeg);">
      <div class="frame-container text-center">
        <h1 class="weight-700">AFILIADOS</h1>
        <img src="../img/barra_abogados.png" class="imagen-afiliados">
      </div>
    </div>
    <div class="carousel-item">
      <div class="frame-container text-center">
        <h1 class="weight-700">ABOGADOS</h1>
        <img src="../img/barra_abogados.png" class="imagen-afiliados">
      </div>
      <img src="../img/Imagen_inicial.jpeg" class="d-block w-100" alt="Descripción de la imagen 1">
    </div>
    <div class="carousel-item">
      <div class="frame-container text-center">
        <h1 class="weight-700">ARQUITECTOS</h1>
        <img src="../img/barra_abogados.png" class="imagen-afiliados">
      </div>
      <img src="../img/Imagen_inicial.jpeg" class="d-block w-100" alt="Descripción de la imagen 1">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>