<div class="container-fluid">
    <div class="row margin-row-contact">
      <div class="col col-lg-4 col-md-12 col-sm-12">
        <div class="title-photo-container-contactSide">
          <h1>Visita nuestras oficinas</h1>
          <p>World Trade Center</p>
        </div>
        <div class="photo-container-contactSide">
        </div>
        <div class="address-photo-container-contactSide">
          <h1>Dirección</h1>
          <p>Montecito 38, Piso 17, Oficina 16 (World Trade Center, Ciudad de México), colonia Nápoles 03810 CDMX.</p>
        </div>
      </div>
      <div class="col col-lg-4 col-md-12 col-sm-12">
        <div class="title-photo-container-contactSide">
          <h1>Contáctanos</h1>
          <p class="text-contactSide-margin">¿Necesitas un abogado?</p>
          <p class="text-contactSide-margin">Contáctenos antes de hacer cualquier acción que requiera a uno.</p>
          <p class="text-contactSide-margin">En Saucedo Abogados somos especialistas en varias áreas del derecho, nosotros tenemos la solución correcta a cualquier problemática legal.</p>
          <h5>Obtenga la asesoría jurídica que requiere.</h5>
          <div class="phone-container">
            <a href="tel:5555555555" target="_blank" class="no-underline-text-phone">
                <span class="text-phone-container">¡Llame ahora!</span>
                <span><i class="fa fa-phone icon-phone" aria-hidden="true"></i></span>
            </a>
          </div>
          <div class="address-photo-container-contactSide">
            <p> Correo:
            <a href="https://" target="_blank" class="link-mail">direccion@saucedoa.com</a>
            </p>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="clock-container">
                  <i class="fa-regular fa-clock color-icons-contact"></i>
                  <p class="text-clock-container">9:00 a 19:00</p>
                </div>
                <p class="text-clock-margin">Horario de atención</p>
                <p class="text-clock-margin">Lunes a Jueves</p>
              </div>
              <div class="col">
                <div class="clock-container">
                  <i class="fa-regular fa-clock color-icons-contact"></i>
                  <p class="text-clock-container">9:00 a 15:00</p>
                </div>
                <p class="text-clock-margin">Horario de atención</p>
                <p class="text-clock-margin">Viernes</p>
              </div>
            </div>
            <div class="row">
              <div class="col margin-phone-number">
                <div class="phone-container-number">
                  <i class="fa-solid fa-headphones color-icons-contact"></i>
                  <p class="phone-number-container">55-9000-0136</p>
                </div>
                <div class="phone-container-number">
                  <i class="fa-solid fa-headphones color-icons-contact"></i>
                  <p class="phone-number-container">55-9000-0136</p>
                </div>
                <div class="phone-container-number">
                  <i class="fa-solid fa-headphones color-icons-contact"></i>
                  <p class="phone-number-container">55-9000-0136</p>
                </div>
                <p class="text-clock-margin">Números para atención a clientes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-12 col-sm-12">
        <div class="title-photo-container-contactSide">
          <h1>Déjanos Tus Datos</h1>
          <p>Explícanos tu caso</p>
          <div>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Teléfono</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Asunto</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tu mensaje (opcional)</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <button type="submit" class="btn btn-primary color-buttom-form-contact">Enviar</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>