<div class="container-fluid text-center contact-container-banner container-text-center">
    <h1 class="weight-700">CONTACTO</h1>
</div>
<div class="container-fliud">
  <div class="row">
    <div class="col">
      <div class="photo-container-single">
      </div>
      <div class="title-photo-container container-text-center">
        <h1 class="weight-700">PRESIDENTE</h1>
      </div>
    </div>
    <div class="col">
      <div class="photo-container-single">
      </div>
      <div class="title-photo-container container-text-center">
        <h1 class="weight-700">PRESIDENTE INTERINO</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="photo-container-single">
      </div>
      <div class="title-photo-container container-text-center">
        <h1 class="weight-700">GERENTE GENERAL</h1>
      </div>
    </div>
    <div class="col col-hidden-sm"></div>
    <div class="col">
      <div class="photo-container-single">
      </div>
      <div class="title-photo-container container-text-center">
        <h1 class="weight-700">COORDINADOR</h1>
      </div>
    </div>
  </div>
</div>