<header class="header-custom fixed-top">
    <nav class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid header-title">
            <a class="navbar-brand" href="#">
                <img src="../img/logo_icace.png" alt="Logo ICACE Abogados" class="logo-navbar header-logo">
            </a>
            <a class="navbar-title weight-600" href="#">
                <p>ICACE</p>
                <p>DESPACHO DE ABOGADOS</p>
            </a>
            <div class="social-icons header-icons header-bar">
                <a href="#" class="social-icon col-hidden-lg" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa-solid fa-bars"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://wa.me/1234567890" target="_blank" class="social-icon">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://www.tiktok.com" target="_blank" class="social-icon">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank" class="social-icon">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center navbar-container collapse" id="navbarToggleExternalContent">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 text-left-frame">
            INICIO
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 text-left-frame">
            SERVICIOS JURÍDICOS
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 text-left-frame">
            VALORES
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 text-left-frame">
            CONTACTO
          </div>
        </div>
      </div>
    </div>
</header>