<div id="carouselExampleRide" class="carousel slide inicial-imagen-margin imagen-inicial-container" data-bs-ride="true">
  <div class="carousel-inner h-100">
    <div class="carousel-item active">
      <img src="../img/Imagen_inicial.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../img/Imagen_carrusel.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <div class="frame-container text-center text-imagen logo-imagen">
    <h1 class="weight-700">AFILIADOS</h1>
    <div>
      <a href="https://www.barralajp.com" target="_blank">
        <img src="../img/barra_abogados.png" class="imagen-afiliados">
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>