<div class="services-container container-fluid" style="background-image: url(../img/Imagen_servicios.jpeg);">
    <div class="services-transparent container-fluid text-center text-services">
        <h1 class="weight-700">BUFET DE ABOGADOS</h1>
        <p class="font-size-services-text weight-500">Las necesidades de nuestros clientes.</p>
        <p class="font-size-services-text weight-500">Contáctenos para más información sobre servicios.</p>
    </div>
</div>
<div class="container-fluid text-center baner-services">
    <div class="row">
      <div class="col">
        <div class="icon-circle">
          <i class="fa-regular fa-user"></i>
        </div>
        <h4 class="weight-700">SERVICIOS</h4>
      </div>
      <div class="col">
        <div class="icon-circle">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <h4 class="weight-700">SERVICIOS</h4>
      </div>
      <div class="col">
        <div class="icon-circle">
          <i class="fa-regular fa-paper-plane"></i>
        </div>
        <h4 class="weight-700">SERVICIOS</h4>
      </div>
    </div>
  </div>