<div class="container-fluid text-center strategy-container-banner container-text-center">
    <h1 class="weight-700 strategy-banner-header">MISIÓN Y VISIÓN</h1>
</div>
<div class="container-fluid margin-strategy">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 text-center">
        <div>
          <h1 class="font-strategy-header">MISIÓN</h1>
          <p class="font-strategy-text">Nuestra misión es ofrecer soluciones jurídicas integrales y personalizadas,
            respaldadas por una profunda ética profesional y un compromiso con la excelencia.
            Nos dedicamos a proteger los derechos e intereses de nuestros clientes mediante
            una atención cercana, eficiente y transparente. Buscamos generar relaciones
            duraderas basadas en la confianza, brindando un asesoramiento legal oportuno y
            estratégico que permita a nuestros clientes tomar decisiones informadas en un
            entorno legal cada vez más complejo.</p></div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
            <div>
            <h1 class="font-strategy-header">VISIÓN</h1>
            <p class="font-strategy-text">Ser un despacho de abogados de referencia a nivel nacional e internacional,
                reconocido por nuestra capacidad para ofrecer soluciones legales innovadoras y
                efectivas. Aspiramos a ser un aliado estratégico para nuestros clientes, brindando un
                servicio excepcional basado en la confianza, la ética y la excelencia, con el objetivo
                de contribuir al progreso social y económico mediante la justicia y el respeto por los
                derechos humanos.
                Lideres en la defensa de los derechos de nuestros clientes, reconocido por nuestra
                capacidad para transformar desafíos legales en oportunidades de éxito. Nos
                comprometemos en promover la justicia, la equidad y la transparencia en todas
                nuestras acciones, siendo un referente en la practica legal que inspire confianza y
                genere un impacto positivo en la sociedad. Buscamos ser reconocidos por nuestra
                innovación, ética y compromiso con la responsabilidad social.</p></div>
        </div>
      </div>
    </div>
  </div>